.topic{
    text-align: center;
}

/*.body{
    background-color: rgb(93, 167, 228);
    height: 584px;
}*/
/* 
.body{
    background-image: url('/assets/Shopping Background-05.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 700px;
} */
.table{
    width: 400px;
    background-color: transparent;
    border: none;
    animation-duration: 4s;
    animation-name: slidein;
    margin-right: 100px;
}
  
  @keyframes slidein {
    from {
      margin-left: 600%;
      width: 200%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .btn-danger:hover, .btn-danger:focus, .btn:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color:red;
    background-color: white;
    border-color: red; 
}
