<app-navbar></app-navbar>

<div class="container margin-top">
  <div class="row">
    <div class="col-6">
      <div class="form-background">
        <h3 class="form-topic">Edit Fault Category</h3>
        <form [formGroup]="formFaultCategory" (submit)="updateFaultCategory($event)">
          <div class="form-group">
            <label for="faultCategoryName">Category Name</label>
            <input formControlName="faultCategoryName" type="text" class="form-control" autocomplete="off" id="faultCategoryName">
            <div *ngIf="faultCategoryName.touched && faultCategoryName.invalid" class="alert-danger bg-transparent">
              <div *ngIf="faultCategoryName.errors.required">*Category Name is required.</div>
              <div *ngIf="faultCategoryName.errors.pattern">*Can only use letters for Category Name.</div>
              <div *ngIf="faultCategoryName.errors.minlength">*Category Name should be minimum
                {{faultCategoryName.errors.minlength.requiredLength}} characters.</div>
              <div *ngIf="faultCategoryName.errors.shouldBeUnique">*Category Name is already taken.</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger ml-4" value="delete" (click)="deleteFaultCategory()">Delete</button>
          <button type="button" class="btn btn-secondary ml-4" value="goBack" (click)="goBack()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>