<app-navbar></app-navbar>

<div class="row margin-top">
  <div class="col-md-5 mx-auto form-background">
    <div>
      <h2 class="form-topic">Register Account</h2>

      <form [formGroup]="form" (submit)="registerUser($event)">

        <div *ngIf="!changingImage">

          <a role="button" class="btn" (click)="changingImageClick()"><img [src]="croppedImage ? croppedImage : 'assets/profile_picture.jpg'" class="rounded-circle" width="128" height="128" />
          </a>

          <div class="form-group">
            <label for="employeeId" class="text-dark">Employee Id</label>
            <input formControlName="employeeId" type="text" autocomplete="off" class="form-control" id="employeeId" aria-describedby="emailHelp" placeholder="Employee Id">
            <div *ngIf="employeeId.touched && employeeId.invalid" class="alert-danger bg-transparent">
              <div *ngIf="employeeId.errors.required">*Employee Id is required.</div>
              <div *ngIf="employeeId.errors.pattern">*Employee Id should be 7 numbers and Uppercase letter. eg:- ######A</div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <label for="firstName" class="text-dark">First Name</label>
              <input formControlName="firstName" type="text" class="form-control" autocomplete="off" id="firstName" aria-describedby="emailHelp" style="text-transform: capitalize;" placeholder="First name">
              <div *ngIf="firstName.touched && firstName.invalid" class="alert-danger bg-transparent">
                <div *ngIf="firstName.errors.required">*First Name is required.</div>
                <div *ngIf="firstName.errors.pattern">*Only use letters for First Name .</div>
                <div *ngIf="firstName.errors.minlength">*First Name should be {{firstName.errors.minlength.requiredLength}} characters.</div>
              </div>
            </div>
            <div class="col">
              <label for="lastName" class="text-dark">Last Name</label>
              <input formControlName="lastName" type="text" class="form-control" autocomplete="off" id="lastName" aria-describedby="emailHelp" style="text-transform: capitalize;" placeholder="Last name">
              <div *ngIf="lastName.touched && lastName.invalid" class="alert-danger bg-transparent">
                <div *ngIf="lastName.errors.required">*Last Name is required.</div>
                <div *ngIf="lastName.errors.pattern">*Only use letters for Last Name .</div>
                <div *ngIf="lastName.errors.minlength">*Last Name should be {{lastName.errors.minlength.requiredLength}} characters.</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="userName" class="text-dark">User Name</label>
            <input formControlName="userName" type="text" autocomplete="off" class="form-control" id="userName"
              aria-describedby="emailHelp" style="text-transform: capitalize;" placeholder="User name">
            <div *ngIf="userName.touched && userName.invalid" class="alert-danger bg-transparent">
              <div *ngIf="userName.errors.required">*User Name is required.</div>
              <div *ngIf="userName.errors.shouldBeUnique">*User Name is already taken.</div>
              <div *ngIf="userName.errors.cannotCantainSpace">*User Name cannot cantain space.</div>
              <div *ngIf="userName.errors.pattern">*Can only use letters for User Name.</div>
              <div *ngIf="userName.errors.minlength">*User Name should be minimum {{userName.errors.minlength.requiredLength}} characters.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="text-dark">Password</label>
            <input formControlName="password" type="password" autocomplete="off" class="form-control" id="password"
              placeholder="Password">
            <div *ngIf="password.touched && password.invalid" class="alert-danger bg-transparent">
              <div *ngIf="password.errors.required">*Password is required.</div>
              <!-- <div *ngIf="password.errors.pattern">*Password must contain at least one number, and one uppercase and lowercase letter.</div> -->
              <div *ngIf="password.errors.minlength">*Password should be minimum {{password.errors.minlength.requiredLength}} characters.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="cpassword" class="text-dark">Confirm Password</label>
            <input formControlName="cpassword" type="password" autocomplete="off" class="form-control" id="cpassword" placeholder="Confirm password">
            <div *ngIf="isNotMatch" class="alert-danger bg-transparent">*Passwords are not matched.</div>
          </div>

          <div class="form-group">
            <label for="departmentId" class="text-dark">Department Name</label>
            <div class="input-group">
              <select class="custom-select" id="departmentId" aria-label="Example select with button addon" style="text-transform: uppercase;">
                <option *ngFor="let department of departments" style="text-transform: uppercase;" value="{{department._id}}">{{department.departmentName}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button" routerLink="/department">Add new Department</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="employeeTypeId" class="text-dark">Employee Type</label>
            <div class="input-group">
              <select class="custom-select" id="employeeTypeId" aria-label="Example select with button addon" (change)="getRoles($event)">
                <option type="button" *ngFor="let employeeType of employeeTypes" value="{{employeeType._id}}">{{employeeType.employeeTypeName}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button" routerLink="/userType">Add new type</button>
              </div>
            </div>
          </div>

          <div *ngFor="let typeRole of typeRoles">
            <div *ngIf="typeRole.roleId.roleNumber == 4" class="form-group">
              <label for="faultCategoryId" class="text-dark">Expertise For</label>
              <div class="input-group">

                	<div *ngFor="let category of categories" class="form-check ml-5 mt-2">
                      <input type="checkbox"  id="{{category._id}}" class="form-check-input" (change)="onChange(category._id, $event.target.checked)">
                      <label class="form-check-label text-body" for="{{category._id}}">{{category.faultCategoryName}}</label>
                    </div>

                <!-- <select class="custom-select" id="faultCategoryId" aria-label="Example select with button addon" (click)="setTrue()">
                  <option *ngFor="let category of categories" value="{{category._id}}">{{category.faultCategoryName}}</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" routerLink="/faultTypeCategory">Add new type</button>
                </div> -->
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Register</button>

        </div>

        <div *ngIf="changingImage">

          <div class="form-group">
            <label for="profilePicture" class="text-dark">Profile Picture</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="profilePicture" aria-describedby="inputGroupFileAddon01" accept="image/*" (change)="fileChangeEvent($event)">
                <label *ngIf="profilePicture == null" class="custom-file-label" for="profilePicture">Choose file...</label>
                <label *ngIf="profilePicture != null" class="custom-file-label" for="profilePicture">{{profilePicture.name}}</label>
              </div>
            </div>
          </div>

          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1" [resizeToWidth]="autocomplete" format="png" (imageCropped)="imageCropped($event)"></image-cropper>

          <button class="btn btn-primary" type="button" (click)="saveNewImage()">Save</button>
          <button type="button" class="btn btn-secondary ml-5" value="delete" (click)="cancelImage()">Cancel</button>

        </div>

      </form>

    </div>
  </div>
</div>