/*.tabl {
    margin-top: 80px;
}*/

.margin1{
    margin-top: 80px
}

.margin2{
    margin-top: 20px
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: azure
}

th {
    color: black
}