<app-nav></app-nav>
<!--<h2 class="underlineHover"  routerLink="/home"  routerLinkActive="active"> Home </h2>
<h2 class="underlineHover"  routerLink="/machines"  routerLinkActive="active"> MachineList </h2>
<h2 class="underlineHover"  routerLink="/jobCards"  routerLinkActive="active"> JobCardList </h2> -->
<div class="body">
  <br><br>
    <div class="row">
      <div class="col-8">

      </div>
     <div class="col-4">
       <tr *ngFor="let employeeType of employeeTypes">
        <h3><a href="{{employeeType.employeeTypeName }}">{{employeeType.employeeTypeName }}
            <button class="btn btn-danger" [routerLink]="['/Employee',employeeType._id]">Show Detail>></button><br><br><br></a></h3>
      </tr>
    </div>
  </div>
</div>
