/* .btn btn-primary{
    padding-bottom: 2rem;
}

.card{
    padding-bottom: 1rem;
} */

/* .body{
    background: url('/assets/Shopping Background-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 700px;
  
} */
/* .body{
    background-image: url('/assets/Shopping Background-05.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 700px;
} */