<nav class="navbar navbar-expand-lg navbar-light bg-danger navbar fixed-top"  >
    <a class="navbar-brand" href="homepage" style="color:white;"><img src="https://seeklogo.com/images/M/mas-holdings-logo-2ACA338CD6-seeklogo.com.png" style="width:120px; height:60px"><h2></h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link active" href="home" style="color:white;">Home <span class="sr-only">(current)</span></a> -->
        <a class="nav-item nav-link" href="Technician" style="color:white;">Technician List</a>
        <a class="nav-item nav-link" href="machines" style="color:white;">Machine List</a>
        <a class="nav-item nav-link" href="jobCards" style="color:white;">Job Card List</a>
        <a class="nav-item nav-link" href="ranking" style="color:white;">Ranking Report</a>
       
      </div>
    </div>
  </nav>
