
        <div class="card">
                <h5 class="card-header">Profile</h5>
                <div class="card-body">
                        <div class="container">
                                <h3>TechnicianDetail</h3>
                                <dl class="list">
                                  <dt>RegNo</dt>
                                  <dd>{{ technician.regNo }}</dd>
                                  <dt>Name</dt>
                                  <dd>{{ technician.name }}</dd>
                                  <dt>Employee Type</dt>
                                  <dd>{{ technician.empType }}</dd>
                                  <dt>Department</dt>
                                  <dd>{{ technician.department }}</dd>
                                  <dt>TelNo</dt>
                                  <dd>{{technician.telNo }}</dd>
                                </dl>
                                </div>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>