<div class="contaniner">
  <br><br>
      <div class="row">
            <div class="col-8">
           </div>
            <div class="col-4">
              <br>
              <div class="card1" style="width: 18rem;">
                <div class="card-body" >
                  <h5 class="card-title">List of Technicians</h5>
                  <p class="card-text">Here you can find all Technicians.</p>
                  <a routerLink="/Technician" class="btn btn-danger"> Technicians </a>
                </div>
              </div><br>
              <div class="card2" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">List of Machines</h5>
                  <p class="card-text">Here you can find all Machines.</p>
                  <a routerLink="/machines" class="btn btn-danger"> Machines </a>
                </div>
              </div><br>
              <div class="card3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">List of Job Cards</h5>
                  <p class="card-text">Here you can find all Job Cards.</p>
                  <a routerLink="/jobCards" class="btn btn-danger"> Job Cards </a>
                </div>
              </div>
             </div>
        </div>
<br><br><br><br>
    <lib-ngx-notification></lib-ngx-notification>
  </div>
<!--<router-outlet></router-outlet>-->
